# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
.gitignore
.idea/dbnavigator.xml
.idea/description.html
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/workspace.xml
JDBC.iml
src/
